/*#region Layouts*/
* {
  margin: 0;
}

ul {
}

.flexbox-column {
  flex-direction: column;
}

.flexbox-container {
  display: flex;
  border-radius: 5px;
  align-items: center;
  margin: 5px;
}

.main {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas: "sidebar mainbar";
}

.side-bar {
  grid-area: sidebar;
}

.centre-bar {
  grid-area: mainbar;
}

/*#endregion*/

/*#region Navbar*/

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282828e0;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  color: rgb(223, 223, 223);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #0c0032;
}
/*#endregion*/

/*#region Body and stuff*/
body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-image: url("./img/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(223, 223, 223);
}

.container {
  background-color: #282828f3;
  margin: 10px;
  padding: 10px;
}

hr {
  border-top: 1px solid #0c0032;
  width: 80%;
}
/*#endregion*/

/*#region News*/
.News a {
  display: block;
  color: rgb(223, 223, 223);
  padding: 8px 16px;
  text-decoration: none;
}
.News a:hover {
  background-color: #0c0032;
  color: rgb(223, 223, 223);
}
/*#endregion*/

/*#region Footer*/
.BottomBar {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas: "social contact";
}
.social {
  grid-area: social;
}

.social ul {
  list-style: none;
}

.social a {
  display: block;
  color: rgb(223, 223, 223);
  text-decoration: none;
}
.social a:hover {
  background-color: #0c0032;
  color: rgb(223, 223, 223);
}

.contact {
  grid-area: contact;
}
/*#endregion*/

/*#region Contact me form*/

.contact-form {
  width: 50rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 60%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #3500d3; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #3500d3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #190061;
}
/*#endregion*/

.skills ul {
  list-style: inside;
}

/*#region Loader*/
.loader {
  margin: 10px;
  border: 1rem solid #0c0032;
  border-top: 1rem solid #3500d3;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s both infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*#endregion*/
